.home-div{
}
.home-tab-div{
    text-align: center;
    margin: 40px;
    font-size: 30px;
    color: white;
    border-top: 2px solid #05386b;
    border-bottom: 2px solid #05386b;
}
.home-tab-selected{
    outline: none;
    padding: 20px;
    background-color: #05386b;
    border: 2px solid #5cdb95;
    color: white;
    cursor: pointer;
}
.home-tab{
    outline: none;
    padding: 20px;
    background-color: #5cdb95;
    border: 2px solid #05386b;
    color: #05386b;
    cursor: pointer;
}